@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  margin: 0;

  padding-top: 5rem;
  overflow: hidden;
}

.container {
  width: 900px;
}

.form__input, .form__btn, .notes__item, .notes__header {
  height: auto;
  margin-top: 10px;
  background: #ffffff;

  color: #ffffff;
  font-size: 16px;

  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  
  padding: 0.8rem 1rem;
}

.form, .notes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form {
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.form__input {
  width: 75%;
  color: #828282;
  outline: none;
}

.form__btn {
  width: 24%;
  background: linear-gradient(90deg, #e6d414,#e68e14);
  border: none;
  cursor: pointer;
}

.notes {
  align-items: start;
}

.notes__placeholder {
  border-top: 2px solid #e5e5e5;
  padding-top: 10px;

  width: 33%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.notes__placeholder--hovered {
  border-top: 2px solid #14d0e4;
}

.notes__header, .notes__item {
  width: 99%;
}

.notes__header {
  border: none;
}

.notes__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #828282;
  cursor: grab;
}

.notes__btn {
  height: 100%;
  width: 8%;
  background: linear-gradient(90deg, #e67314,#d60909);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.notes__item--hold {
  border: 3px solid #e0e0e0;
  box-shadow: none;
}

.notes__item--hidden {
  display: none;
}

.notes__item--highlighted {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px dashed #14d0e4;
  cursor: grabbing;
}

.notes__item:active {
  cursor: grabbing;
}

.notes__header--start {
  background: linear-gradient(90deg, #00ff1e,#14e6a7,#14d0e4);
}

.notes__header--progress {
  background: linear-gradient(90deg, #14d0e4,#145ae6,#8714e6);
}

.notes__header--done {
  background: linear-gradient(90deg, #8714e6,#d814e6,#e61479);
}